<div class="badman" style="height:20px;"></div>
<div class="container-fluid" style="text-align:center;color:black; background-color:white;">
<div style="height:100px;"></div>

  <div class="row">


    <div class="col-sm-4 col-sm-offset-4">

      <h2 class="header-one"><a href="https://www.linkedin.com/in/alexander-green-38b475133/" style="text-decoration: none;"><span  class="header-light">Alexander Green</span></a> is a full stack developer, designer, & writer based in New York. </h2>
      <hr style="width:50%">
      <p class="text"> Today I work at <a href="http://www.scalr.com" class="header-light">Scalr</a>, a cloud management platform enabling companies to standardize application deployments across multi-cloud environments. </p>



    </div>

  </div>

  <div style="height:120px;"></div>

  <div class="row">

    <div class="col-md-12">
      <h2 class="header-one"> Summary </h2><hr style="width:25%;">
      <p> Here's what I'm up to. </p>

    </div>

    <div class="col-md-4">
      <img src="https://s3.amazonaws.com/aws-website-portfoliosite-bf6tr/codeport1.png" class="img-responsive">
      <h2 class="header-one"> Full-stack Engineering. </h2>
      <p style="text-align:left;">I'm a full stack web developer, with experience on the front end in Angular 1 and React. On the back end I've built products on Rails and Node. I deploy applications on AWS, and projects on Heroku. For CI/CD pipelines I use CircleCI + Capistrano for my Rails apps, and Jenkins for all others. For server configuration/automation I use Ansible, though I'm comfortable with Chef. Currently I'm working on: <a href="https://mystudentvoices.com/on-building-a-fb-messenger-bot-thats-mildly-useful-it-recommends-bars-in-nyc-5459369794a4"> FB Messenger bots </a> and Alexa Skills. </p>
      <hr style="width:50%">
      <p> Latest projects are on my <a href="http://www.github.com/adgreen93"> Github.</a></h4><h4 style=""> </p>
    </div>

    <div class="col-md-4">
      <img src="https://s3.amazonaws.com/aws-website-portfoliosite-bf6tr/designport1.png" class="img-responsive">
      <h2 class="header-one"> UX/UI &amp; Graphic Design</h2>
      <p style="text-align:left;">  My main concentrations are UX/UI for web & mobile, graphic design, and industrial design for consumer products. I've designed portfolio websites, SaaS web apps, and mobile apps. On the graphic design side I've designed resumes, case studies, solution briefs, logos, posters, and ads. Anything you can think of that a startup has needed - I've built it. My tools are Illustrator, Affinity Designer, and Sketch. I'm a photographer too - though I sold my
      camera at a pawn shop. <a href="https://medium.com/@alexggreen/i-sold-my-camera-at-a-pawn-shop-and-what-i-saw-inside-was-fascinating-8a7d5918dad#.yjzjvtxjg"> But
      that's another story. </a></p>
      <hr style="width:50%"><p> Check out my full gallery <a href="https://s3.amazonaws.com/aws-website-portfoliosite-bf6tr/design/index.html"> here. </a></p>
    </div>

    <div class="col-md-4">

      <img src="https://s3.amazonaws.com/aws-website-portfoliosite-bf6tr/writeport1.png" class="img-responsive">
      <h2 class="header-one"> Technical &amp; Editorial Writing </h2>
      <p style="text-align:left;"> I've been published in
      online and print magazines, contributed for Tech Insider, and currently run the Scalr blog. There I update documentation on our product and write how-tos on open-source tools like Chef, Puppet, & Ansible. Lastly, believe it or not, I wrote for a print 'zine startup for teenage girls last summer. My beat? Covering technology, games, and fun things to do in San Diego (never been, heard it's nice). </p>
      <hr style="width:50%">

      <p> Peep the rest <a href="https://www.medium.com/@alexggreen"> on my blog.</a></p>


    </div>
  </div>
  <div style="height:100px;"></div>

  <div class="row">

    <div class="col-md-12">
      <h2 class="header-one"> Work Experience </h2><hr style="width:25%;">
      <p> Highlights from past lives. </p>

    </div>

  </div>

  <div style="height:100px;"></div>

  <div class="row">
    <div class="col-md-3 col-md-offset-3">
      <img src="https://s3.amazonaws.com/aws-website-portfoliosite-bf6tr/Scalr_Logo.png" class="img-responsive">
      <hr style="width:50%">
      <p> November 2016 - Present </p>
      </div>

      <div class="col-md-4">
      <h2 class="header-one"> Product Marketing </h2>
      <p style="text-align:left;">
      As part of Scalr's technical marketing team, I handle our public facing content. This includes our <a href="http://scalr.com/blog">engineering blog</a>, running technical demos, writing/designing case studies and solution briefs, and
      hosting webinars on configuration management systems, CI/CD platforms, and cloud providers.
      </p>

    </div>

  </div>

  <div style="height:100px;"></div>
  <div class="row">
    <div class="col-md-3 col-md-offset-3">
      <img src="https://www.countit.com/images/count-it-dot.png" class="img-responsive">
      <hr style="width:50%"><p> February 2016 - November 2016 </p>
    </div>
    <div class="col-md-4">
      <h2 class="header-one"> Full Stack Engineer </h2>
      <p style="text-align:left;">  Launched the total rehaul of a corporate wellness web application. Worked on the UX/UI redesign for web & mobile, fitness tracker APIs and Slack bot integration. Buit with Rails, AngularJS, Mongo & S3.</p>

    </div>



  </div>

  <div style="height:100px;"></div>
<div class="row">
<div class="col-md-3 col-md-offset-3">
<img src="https://d3j6q7pa6ix88g.cloudfront.net/facilities/logo_wides/4375/wide/4375.png?1386210297" class="img-responsive">
<hr style="width:50%"><p> August 2015 - February 2016 </p>
</div>
<div class="col-md-4">
<h2 class="header-one"> Patient Access Services </h2>
<p style="text-align:left;">  Worked on switching over legacy systems for the electronic health records that Winthrop facilities use - keeping patient information secure by developing and maintaining records across platforms for the Patient Access Services department.</p>

</div>



</div>


<div style="height:100px;"></div>

<div class="row">
<div class="col-md-3 col-md-offset-3" style="">
<img src="http://sites.udel.edu/eli/files/2013/02/University-of-Scranton-Logo.jpg" class="img-responsive">
<hr style="width:50%"><p> February 2014 - May 2015 </p>
</div>
<div class="col-md-4" style="">
<h2 class="header-one"> Media Manager </h2>
<p style="text-align:left;">  Work study position with the Communications Department, maintained an equipment rental database, edited audio & video, and ran social media campaigns & alumni outreach.</p>

</div>



</div>


<div style="height:100px;"></div>

<div class="row">
<div class="col-md-6 col-md-offset-3">
<h2 class="header-one"> Contact </h2><hr style="width:50%;">
<p>
If you need design help or a web app built, I'm all ears. Feel free to send me an email to chat or get coffee in the city.
</p>
<br>
<div class="row">
<div class="col-lg-4 col-lg-offset-2">
<h3 class="header-one"> Work </h3>
<a href="mailto:alexg@scalr.com"><p>alexg@scalr.com</p></a>

</div>
<div class="col-lg-4">
<h3 class="header-one"> Home </h3>
<a href="mailto:adgreen93@gmail.com"><p>adgreen93@gmail.com</p></a>
</div>
</div>
</div>
</div>

<div style="height:100px;"></div>






</div>
