<nav class="navbar navbar-default navbar-fixed-top hidden-xs" style="background-color:white;  border-bottom: 5px solid #311B92;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><img src="https://s3.amazonaws.com/nori-cold-brew/sugar-mountain-horizontal-logo-a.png" class="img-responsive" style="height:30px;"></a>
    </div>
    <ul class="nav navbar-nav">
      <li><p class="navbar-text"><a href="#">Page 1</a></p></li>
      <li><p class="navbar-text"><a href="#">Page 1</a></p></li>

    </ul>
    <p class="navbar-text pull-right">

                <i class="fa fa-shopping-bag" aria-hidden="true" style="color:#311B92;"></i>
         </p>
  </div>
</nav>

<div class="main">

<div class="container-fluid">

     <div style="height:200px;"></div>

    <div class="row">

                <div class="col-sm-4 col-sm-offset-4">
            <a href="/"> <img src="https://s3.amazonaws.com/nori-cold-brew/sugar-mountain-logo-b.png" class="img-responsive animated fadeIn header-image"></a>

            </div>



  </div>





               <div class="row">

                           <div class="col-sm-8 col-sm-offset-2" style="text-align:center; color:white;">

                       <br>
                       <br>
                       </div>



               </div>





</div>
</div>


<div class="section1">

<div class="container-fluid">
 <div style="height:150px;"></div>
<div class="row">


                             <div class="col-sm-6 col-sm-offset-3" style="text-align:center;">

                         <div class="well" style="border:none; background-color:white; border-radius:0px;">
                           <div class="row">
                            <div class="col-sm-6" style="text-align:center;">



                                  <img src="https://image-cdn.symphonycommerce.com/images/sites/califiafarms/product_images/ColdBrew_SaltCrml_10.5ozBottle_063-1200x1200.1200w.jpg" style="height:350px;">

                        </div>
                          <div class="col-sm-6" style="text-align:center;">
                      <br>
                            <h1 style="display:inline;"> Classic Cold Brew </h1><p style="display:inline;"> - $10</p><br>
                           <p> Yeah you've had those days – you're deep in the bug slaying the Hydra that you refuctored your way into. Symbolic link with Terminal in style and if() you ever need to inherit more Class, call Super, the Team.</p>
                           <p>Number of Bottles</p>
                           <button type="button" class="btn btn-outline-primary" style="border-radius:0px; background:none;  border: 1px solid #311B92;">1</button>  <button type="button" class="btn btn-outline-primary" style="border-radius:0px; background:none;  border: 1px solid #311B92;">Double Pack</button> <button type="button" class="btn btn-outline-primary" style="border-radius:0px; background:none;  border: 1px solid #311B92;">Six Pack</button>

<br>
<br>
                           <button type="button" class="btn btn-primary btn-md" style="border-radius: 25px; background-color:#311B92; border: 1px solid #311B92; font-weight:300;">Add to Bag</button>

                           <br>
                          </div>

                        </div>
                        </div>

                         </div>


</div>

<div class="row">
<div style="height:100px;"></div>

<div class="col-sm-12" style="text-align:center;">
  <br>
  <h1> You Might Also Like </h1>
  <br>
</div>
                              <div class="col-sm-3 col-sm-offset-3" style="text-align:center;">


  <div class="well" style="border:none; background-color:white; border-radius:0px;">
                                        <img src="https://image-cdn.symphonycommerce.com/images/sites/califiafarms/product_images/ColdBrew_SaltCrml_10.5ozBottle_063-1200x1200.1200w.jpg" style="height:200px;">



                                      <h1> Cold Experience  </h1>

                                     <p> Something hazy, simple. Beautiful. </p>

                                     <button type="button" class="btn btn-primary btn-md" style="border-radius: 25px; background-color:#311B92; border:#311B92; font-weight:300;">Quick Add</button>

                                   </div>

                          </div>




                                                                                  <div class="col-sm-3" style="text-align:center;">


                                                      <div class="well" style="border:none; background-color:white; border-radius:0px;">
                                                                                      <img src="https://image-cdn.symphonycommerce.com/images/sites/califiafarms/product_images/ColdBrew_SaltCrml_10.5ozBottle_063-1200x1200.1200w.jpg" style="height:200px;">


                                                                                          <h1> California King Blend  </h1>

                                                                                         <p> Something hazy, simple. Beautiful. </p>

   <button type="button" class="btn btn-primary btn-md" style="border-radius: 25px; background-color:#311B92; border:#311B92; font-weight:300;">Quick Add</button>
                                                                                       </div>

                                                                              </div>








</div>



</div>

<div style="height:100px;"></div>

</div>
