<nav class="navbar navbar-default navbar-fixed-top hidden-xs" style="background-color:white;  border-bottom: 5px solid #311B92;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><img src="https://s3.amazonaws.com/nori-cold-brew/sugar-mountain-horizontal-logo-a.png" class="img-responsive" style="height:30px;"></a>
    </div>

    <p class="navbar-text pull-right">
                <i class="fa fa-search" aria-hidden="true" style="color:#311B92; padding-right:15px;"></i>
                <i class="fa fa-heart" aria-hidden="true" style="color:#311B92; padding-right:15px;"></i>
                <i class="fa fa-shopping-bag" aria-hidden="true" style="color:#311B92; padding-right:15px;"></i>



         </p>
  </div>
</nav>

<nav class="navbar navbar-default navbar-fixed-top visible-xs" style="background-color:white;  border-bottom: 5px solid #311B92;">
      <div class="container-fluid">
        <div class="navbar-header">

          <span class="navbar-toggle-three">     <i class="fa  fa-shopping-bag" aria-hidden="true" style="color:#311B92;"></i></span>
            <span class="navbar-toggle-three">     <i class="fa fa-heart" aria-hidden="true" style="color:#311B92;"></i></span>
          <span class="navbar-toggle-three">     <i class="fa fa-search" aria-hidden="true" style="color:#311B92;"></i></span>


          <a class="navbar-brand" href="/"><img src="https://s3.amazonaws.com/nori-cold-brew/sugar-mountain-horizontal-logo-a.png" class="img-responsive" style="width:180px;"></a>

        </div>


      </div><!--/.container-fluid -->
</nav>


<div class="main">

<div class="container-fluid">

     <div style="height:200px;"></div>

    <div class="row">

                <div class="col-sm-4 col-sm-offset-4">
            <a href="/"> <img src="https://s3.amazonaws.com/nori-cold-brew/sugar-mountain-logo-b.png" class="img-responsive animated fadeIn header-image"></a>

            </div>
  </div>

               <div class="row">

                           <div class="col-sm-8 col-sm-offset-2" style="text-align:center; color:white;">

                       <br>
                       <br>
                       </div>



               </div>





</div>
</div>


<div class="section1">

<div class="container-fluid">
 <div style="height:150px;"></div>
<div class="row">


                             <div class="col-sm-6 col-sm-offset-3" style="text-align:center;">

                         <div class="well" style="border:none; background-color:white; border-radius:0px;">
                           <div class="row">
                            <div class="col-sm-6" style="text-align:center;">

                              <br>

                                  <img src="https://s3.amazonaws.com/nori-cold-brew/coldbrew-a.jpg" style="height:350px;">

                        </div>
                          <div class="col-sm-6" style="text-align:center;">
                            <br>
                            <h1 style="display:inline;"> Classic Cold Brew </h1><p style="display:inline;"> - $10</p><br>
                           <p> I know what you're thinking - coffee, on the internet? That's crazy! But hear me out: Sugar Mountain Cold Brew is mixed with cinnamon and maple syrup to hit you with that refreshing taste so good you'd call up your estranged father just to spread the good news. Salud, baby. </p>
                           <p>Number of Bottles</p>
                           <button type="button" class="btn btn-outline-primary bottlebtn" style="">1</button>  <button type="button" class="btn btn-outline-primary bottlebtn" >Double Pack</button> <button type="button" class="btn btn-outline-primary bottlebtn" >Six Pack</button>

<br>
<br>
                           <button type="button" class="btn btn-primary btn-md bagbtn">Add to Bag</button>

                           <br>
                          </div>

                        </div>
                        </div>

                         </div>


</div>

<div class="row">
<div style="height:100px;"></div>

<div class="col-sm-12" style="text-align:center;">
  <br>
  <h1> You Might Also Like </h1>
  <br>
</div>
                              <div class="col-sm-3 col-sm-offset-3" style="text-align:center;">


  <div class="well" style="border:none; background-color:white; border-radius:0px;">
                                        <img src="https://s3.amazonaws.com/nori-cold-brew/coldbrew-a.jpg" style="height:200px;">



                                      <h1> Cold Experience  </h1>

                                     <p> $10 </p>

                                     <button type="button" class="btn btn-primary btn-md bagbtn" >Quick Add</button>

                                   </div>

                          </div>




                                                                                  <div class="col-sm-3" style="text-align:center;">


                                                      <div class="well" style="border:none; background-color:white; border-radius:0px;">
                                                                                      <img src="https://s3.amazonaws.com/nori-cold-brew/coldbrew-b.jpg" style="height:200px;">


                                                                                          <h1> California King Blend  </h1>

                                                                                         <p> $10 </p>

   <button type="button" class="btn btn-primary btn-md bagbtn" >Quick Add</button>
                                                                                       </div>

                                                                              </div>








</div>



</div>

<div style="height:30px;"></div>

</div>
