<!DOCTYPE html>
<html>
  <head>
    <title> Alexander Green </title>
    	<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1" content='user-scalable=no'>
    	<meta description="Alexander Green is a designer, developer, and writer based in New York City."
    	<link rel='shortcut icon' href='favicon.ico' type='image/x-icon'/>
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    	<link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
      <link href="https://fonts.googleapis.com/css?family=Montserrat:400|Roboto:100" rel="stylesheet">
    	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>


    	<link rel="stylesheet" type="text/css" href="stylesheets/animate.css"/>
    	<link rel="stylesheet" type="text/css" href="stylesheets/normalize.css"/>
    	  <link rel='stylesheet' href='/stylesheets/style.css' />
      	<script src="javascripts/modernizr.custom.js"></script>
      	<script src="javascripts/classie.js"></script>
        <script src="javascripts/elevator.js"></script>

  </head>
  <body>
    {{{body}}}
    <footer class="footer badman" style="color:white;">
  	      <div class="container-fluid">
  	          <div style="height:20px;"></div>
  	          <div class="row">

  	          <div class="col-sm-12" style="text-align:center;">
  	            <p> © Alexander Green 2017. |<br class="hidden-sm hidden-md hidden-lg"> <a href="https://www.youtube.com/watch?v=GIQn8pab8Vc" style="color:white;">Click here for the secret to
  	            happiness.</a></p>







  	      </div>

  	        </div>
  	        <div style="height:10px;"></div>
  	      </div>
  	    </footer>
  </body>
</html>
